<div class="container ">
  <div class="row">


  <h1 class="my-4">Liste des Publications

  </h1>
  </div>

  <div>
  <div class="row">
    <div class="col-md-8 m-auto ">



      <div class="list-group  m-auto">
        <div class="d-flex justify-content-end m-3  ">
          <button type="button" class="btn aqua-gradient mr-2 align-content-center" (click)="showPublication()">
            Creer une publication   <i class="fa fa-plus fa-lg"></i>
          </button>
        </div>



        <div *ngIf="ajouter" class="card">
          <div class="card-header">
            <h5 class="card-title m-auto">Ajouter une publication</h5>

          </div>
          <div class="card-body  ">
            <form [formGroup]="publicationForm">
              <div>
                <div class="form-group">
                  <label> Type </label>
                  <select type="text" class="form-control" formControlName="type" placeholder="Type ">

                    <option>Communication</option>
                    <option>Sciences</option>
                    <option>Politique</option>
                    <option>Eletroniques et ménagers</option>

                  </select>


                </div>


                <div class=" form-group">
                  <label> Lien </label>
                  <input type="text" class="form-control" formControlName="lien" placeholder="Lien ">
                </div>
                <div class="form-group">
                  <label> Source </label>
                  <input type="text" class="form-control" formControlName="sourcePdf" placeholder="Source">
                </div>



              </div>

            </form>

            <div class="form-group" >
              <mat-form-field  >
                <mat-label>Auteurs</mat-label>
                <mat-select [formControl]="listAuteurs" multiple>
                  <mat-select-trigger>
                    {{listAuteurs.value ? membres[listAuteurs.value[0]].nom : ''}}
                    <span *ngIf="listAuteurs.value?.length > 1" class="example-additional-selection">
        (+{{listAuteurs.value.length - 1}} {{listAuteurs.value?.length === 2 ? 'other' : 'others'}})
      </span>
                  </mat-select-trigger>

                  <mat-option *ngFor="let membre of membres" [value]="membre.id">{{membre.nom  + "   " + membre.prenom}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>
          <div class="card-footer d-flex justify-content-lg-around">
            <button type="button" class="btn col-lg-2 btn-secondary" (click)="annuler()">Annuler</button>
            <button type="button" class="btn   btn-success" (click)="ajouterPublication()">Publier</button>
          </div>

        </div>
        <div class="list-group">

          <!--   <div class="card-body">
               <div class="">
                 <h5 class="card-title">{{publication.type}}
                 </h5>
                 <small class="d-flex justify-content-end"><strong class="border rounded-5"> {{publication.dateApparition|date:"short"}}</strong></small>

                  <a class="card-text" href="{{publication.lien}}">{{publication.lien}} </a>
                 Uploadef from {{publication.sourcePdf}}
               </div>
               <div class="d-flex flex-row-reverse">
                 <a  class="btn btn-primary ml-3" (click)="editPublication(publication.id)">Modifier</a>
                 <a  class="btn btn-danger ml-3"
                 (click)="deletePublication(publication.id)"
                 >Supprimer</a>

               </div>
             </div> -->



          <a  class="list-group-item list-group-item-action mt-4 "
              *ngFor="let publication of publications">
            <a type="button" class="close badge-pill"  aria-label="Close"
                      id="dropdownMenuButton" data-toggle="dropdown"
            >
              <i class="fa fa-ellipsis-h fa-sm" aria-hidden="true"></i>
             </a>
            <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="dropdownMenuButton ">
              <a class="dropdown-item    rounded-lg  "

                 (click)="editPublication(publication.id)"

              >Edit Publication</a>
              <a class="dropdown-item   rounded-lg  "
                 (click)="deletePublication(publication.id)"

              >Delete Publication</a>

            </div>
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{publication.type}}</h5>
              <small> {{publication.dateApparition|date:"short"}}</small>
            </div>
            <p class="mb-1">{{publication.lien}} <br>
              Uploadef from {{publication.sourcePdf}}
            </p>

            <mat-expansion-panel class="mat-active mt-2" >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Auteurs
                </mat-panel-title>
                <mat-panel-description>
                  Consulter les auteurs
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul class="list-group list-group-horizontal d-flex justify-content-sm-around">
                <li class="list-group-item list-group-item-primary border"
                *ngFor="let auteur of publication.auteurs "
                >{{auteur.prenom}}&nbsp;{{auteur.nom|uppercase}}</li>

              </ul>
            </mat-expansion-panel>

          </a>

        </div>

      </div>

    </div>
  </div>
  </div>
</div>
